alabaster==0.7.12
appdirs==1.4.4
cryptography==3.4.8
distlib==0.3.4
docutils==0.17.1
gmpy2==2.1.2
html5lib==1.1
httplib2==0.20.2
ipython_genutils==0.2.0
ldap3==2.8.1
mysql-connector-python==8.0.31
networkx==2.4
numpy==1.21.5
oauthlib==3.2.0
protobuf==3.12.4
pycld2==0.41
pycryptodome==3.15.0
pycryptodomex==3.11.0
pyOpenSSL==21.0.0
PyYAML==5.4.1
requests==2.25.1
websockets==9.1
